<!-- Type in the following code and save it in the file "test.html" inside the folder "templates" 
-->
<html>
	<head> </head>
	<body>
		<p>This is the result of running test.py</p>
			{% autoescape false %}
			    {{output}}
			{% endautoescape %}			
	</body>
</html>
<!-- end of test.html -->

<!--
{% autoescape false %}
    {{text}}
{% endautoescape %}
-->

